<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="cs">
  <head>
    <title>Mafie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="all" />
    <meta name="copyright" content="" />

  </head>
  <style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
</style>

<body>


<div style="vertical-align: middle;margin-top:90px;">
<%= image_tag "klobouk.png", :width => 160 %>
<h1 style="text-align:center;">Volby 17. a 18. října</h1>
<%= image_tag "mafian.png", :width => 150 %>
<h2 style="text-align:center;">Dávky pro sociálně slabé.</h2>
</div>
</body>
