<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="cs">
  <head>
    <title>Účet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="all" />
    <meta name="copyright" content="" />
    <%= stylesheet_link_tag "mystyle" %>

  </head>
  
<body>
<div id= "sheet">
	<div id="topmenu">
		<ul>
			<li class="current_menu_item"><%= link_to "Účet", user_path(session[:user_id]) %></li>
			<li><%= link_to "Hra", "game_path" %></li>
		<ul>
	</div>
	<%= yield %>
</div>
</body>
